hidden_size:int	768
num_hidden_layers:int	3
num_attention_heads:int	8
intermediate_size:int	3072
max_position_embeddings:int	512
type_vocab_size:int	2
hidden_dropout_prob:float	0.1
attention_probs_dropout_prob:float	0.1
initializer_range:float	0.02
hidden_act:str	gelu
pooler_type:str	weightpooler	
sim_type:str	feedforward
crossing_res:bool	True
res_size:int	2048
res_bn:bool	False
comb_type:str	concat
use_two_bert:bool	False
use_two_gnn:bool	True
vocab_size:int	30522
embedding_type:str	bpe
triletter_max_letters_in_word:int	20
quantization_side:str	neither
tanh_pooler:bool	False
downscale:int	0
max_seq_len:int	16
max_seq_len_doc:int	16
post_processing:bool	False
loss_type:str	mse
ckpt_layer_mapping:str	0,1,2
a_fanouts:str	3
b_fanouts:str	3
gnn_model:str	gat
weighted_gnn_type:str	click,impression,ctr
hidden_dims:str	768
gnn_acts:str	leaky_relu,leaky_relu
gnn_add_residual:bool	False
aggregator:str	meanpool
gnn_concat_residual:bool	True
use_residual:bool	False
head_nums:str	4
agg_dropout:float	0.0
agg_concat:bool	True
agg_bias:bool	True
weight_decay:float	0.0
agg_model_size:str	small
num_classes:int	2
bert_trainable:bool	True
tb_loss:bool	False
use_two_crossings:bool	False